body{
    text-align: center;
    background-color: rgb(34, 34, 34);
}
/* From cssbuttons.io by @westitan */
button {
    

    font-size: 100%;
    padding: 3% 5%;
    border-radius: 50px;
    border: none;
    color: rgb(255, 106, 0);
    background-color: rgb(243, 243, 243);
   }
   
  